<h1>All Articles</h1>
<% if @articles.count > 0 %>
    <% @articles.each do |a| %>
        <h2><%= a.title %></h2>
        <p><%= a.text %></p>
        <%= link_to "Show", article_path(a) %>
        <%= link_to "Edit", edit_article_path(a) %>
        <%= link_to "Delete", article_path(a),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    <% end %>
<% else %>
    <h2>No Articles</h2>
<% end %>
<p>
    <%= link_to "New Article", new_article_path %>
</p>