<h1><%= @article.title %></h1>
<p><%= @article.text %></p>
<%= link_to "Delete",
    article_path(@article),
    method: :delete,
    data: { confirm: 'Are you sure?' }
%>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Back", articles_path %>